<h1>Order Bot Notification</h1>

<h2>{{buy.side}} Notification</h2>
<ul>
    <li>Symbol : {{buy.symbol}}</li>
    <li>Cummulative Quote Qty : {{buy.cummulativeQuoteQty}}</li>
    <li>MA TP : {{ma_55_tp}}</li>
    <li>MA SL : {{ma_55_sl}}</li>
    <li>Status : {{status}}</li>
</ul>
