<h1>Order Bot Notification</h1>

<h2>{{sell.side}} Notification</h2>
<ul>
    <li>Symbol : {{sell.symbol}}</li>
    <li>Cummulative Quote Qty : {{sell.cummulativeQuoteQty}}</li>
    <li>Status : {{stat}}</li>
</ul>
